a,
a:hover,
a:focus,
.primary,
.btn-qubico.white:hover,
.btn-qubico.white:focus,
.btn-qubico.white:active,
.services .item:hover h3,
.features .media:hover h4,
.member-thumb .title,
.team-member .member-details:before,
.team-member .member-socials li a,
.team-member .member-socials li a:hover,
.project-thumb .project-title:hover,
.pricing .item.featured .icon,
.pricing .item:hover .icon,
.pricing .item.featured .btn-qubico,
.pricing .item:hover .btn-qubico,
.contact-item .icon,
.contact-item .icon:hover,
.social-links li:hover a {
  color:#839457;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
  color:#839457;
/*  font-family: "Helvetica Neue", Helvetica, sans-serif;*/
/*  font-family: Lato, Arial, sans-serif;*/
/*  font-variant:normal;*/
}

#sequence h2 {
/*  font-family: Lato, Arial, sans-serif;*/
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}


.section-title:after,
.btn-qubico,
.color-bg,
#main-nav .nav a:before,
.jumbotron,
.features .media:hover .icon,
.services .icon,
.process-list li.colored .icon,
.ipad-slider .flex-direction-nav .flex-prev,
.ipad-slider .flex-direction-nav .flex-next,
.team-member:hover .member-details,
.chart-wrapper,
#filter-works ul li a:hover,
#filter-works ul li.active a,
.project-thumb .overlay-mask,
.imac-slider .flex-direction-nav .flex-prev,
.imac-slider .flex-direction-nav .flex-next,
.pricing .item:hover,
.pricing .item.featured{
    background:#839457;
}

.process-line {
    border-top-color:#839457;
}

.team-member:hover .member-details:after {
    border-left-color:#839457;
}

.team-member.right:hover .member-details:after {
    border-left-color:transparent;
    border-right-color:#839457;
}

.vh-feature {
    background: url(../assets/vh-feature-bkg.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    padding-bottom: 0;
    text-align: center;
}

.vh-feature .container {
    position: relative;
}

.app-download-btn {
    display: inline-block;
    height: 42px;
    margin-bottom: 40px;
}

.app-download-btn + .app-download-btn {
    margin-left: 20px;
}

.app-download-btn img {
    width: auto;
    height: 100%;
}

.feature-col {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: -6px;
}

.feature-description {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
    margin-top: -60px;
}

.feature-description a {
    text-decoration: underline;
    color: #fff;
}

.feature-title-bar {
    width: 100%;
    background: rgba(131, 149, 84, 0.8);
    font-size: 24px;
    text-align: center;
    position: absolute; bottom: 0;
    margin: 0;
    color: #fff;
    font-weight: 300;
    padding: 15px 20px 20px;
}


@media (min-width: 768px) {
    .vh-feature-hero img {
        display: inline-block;
    }

    .feature-description {
        font-size: 42px;
        margin-bottom: 40px;
    }
    
    .app-download-btn {
        height: 62px;
    }

    .feature-title-bar {
        font-size: 36px;
    }
}

@media (min-width: 992px) {
    .vh-feature {
        text-align: right;
    }

    .vh-feature-hero {
        padding-left: 60px;
        padding-right: 30px;
    }

    .vh-feature-hero img {
        display: block;
    }

    .app-download-btn {
        margin-bottom: 0;
    }
}


@media (max-width: 767px) {

	.team-member:hover .member-details:after,
    .team-member.right:hover .member-details:after {
        border-right-color:transparent;
        border-left-color:transparent;
        border-bottom-color:#839457;
    }

    .navbar-brand,
    .navbar-brand:hover,
    .navbar-brand:active,
    .navbar-brand:focus {
        font-size:18px;
    }

}
