@import 'footer-variables';

.site-footer {
  position: relative;
  background-color: $olive;
  padding: $site-footer-padding-top 0 ($site-footer-padding-top + $site-footer-border-size);
  //height: $site-footer-height-default;
  color: $olive-black;
  font-size: $site-footer-font-size;

  // @include media($small-up) {
  //   height: $site-footer-height-small;
  // }
  //
  // @include media($medium-up) {
  //   height: $site-footer-height-medium;
  // }


  section {
    text-align: center;

    @include direction-context(right-to-left) {
      &:first-child {
        @include media($medium-up) {
          @include span-columns(4);
          text-align: right;
        }
      }
    }

    &:last-child {
      @include media($medium-up) {
        @include span-columns(8);
        text-align: left;
      }
    }
  }

  &:after {
    position: absolute;
    bottom: 0;
    background: $olive-dark;
    width: 100%;
    height: $site-footer-border-size;
    content: '';
  }

  .icon-link {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;

    + .icon-link {
      margin-left: rem(30);
    }

    &:hover,
    &:focus {
      .icon {
        fill: $white;
      }
    }
  }

  .icon {
    width: rem(30);
    height: rem(30);
    fill: $olive-black;
  }

  .icon-linkedin {
    width: rem(30);
    height: rem(24);
  }

  .icon-github {
    width: rem(36);
    height: rem(36);
  }

  a[href^=tel] {
    color: inherit;
  }

}

.site-footer-contact {
  font-weight: $font-weight-bold;

  @include media($small-up) {
    display: inline;
    line-height: $site-footer-icon-link-height-largest;

    &:before {
      padding: 0 rem(5);
      font-weight: $font-weight-normal;
      content: '\007C'; // pipe
    }
  }

}
