.btn {
  border: 0;
  background: $bps-green;
  padding: rem(15) rem(20);
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: $expanded-letter-spacing;
  color: $white;

  &:hover,
  &:focus {
    background: $bps-green-dark;
  }

  &:active {
    background: $bps-green-light;
  }
}

.btn-ghost {
  border: 1px solid $bps-green;
  background: transparent;
  color: $bps-green;

  &:hover,
  &:focus {
    background: $bps-green;
    color: $white;
  }

  &:active {
    border-color: $bps-green-dark;
    background: $bps-green-dark;
    color: $white;
  }
}

.btn-text {
  background: transparent;
  padding: 0;
  color: $bps-green;

  &:hover,
  &:focus {
    background: transparent;
    color: $bps-green-dark;
  }

  &:active {
    background: transparent;
    color: $bps-green-light;
  }
}
