.btn {
  display: inline-block;
  border: 0;
  background-color: $bps-green;
  padding: rem(15) rem(20);
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  letter-spacing: $expanded-letter-spacing;
  color: $white;

  &:hover,
  &:focus {
    background-color: $bps-green-dark;
  }

  &:active {
    background-color: $bps-green-light;
  }
}

.btn-small {
  padding: rem(10) rem(15);
  font-size: $font-size-small;
}

.btn-ghost {
  border: 1px solid $bps-green;
  background-color: transparent;
  color: $bps-green;

  &:hover,
  &:focus {
    background-color: $bps-green;
    color: $white;
  }

  &:active {
    border-color: $bps-green-dark;
    background-color: $bps-green-dark;
    color: $white;
  }
}

.btn-text {
  background-color: transparent;
  padding: 0;
  color: $bps-green;

  &:hover,
  &:focus {
    background-color: transparent;
    color: $bps-green-dark;
  }

  &:active {
    background-color: transparent;
    color: $bps-green-light;
  }
}
