@import '../footer/footer-variables';
@import '../header/header-variables';
@import 'bps';

.billboard {
  padding: $site-header-padding-top 0;
}

.billboard-msg {
  text-transform: uppercase;
  line-height: 1;
  color: $primary-color;
  font-size: 12vw;
  font-weight: $font-weight-ultra-bold;

  @media #{$large-up} {
    font-size: rem-calc(96);
  }
}
