@import '../footer/footer-variables';
@import '../header/header-variables';
@import 'billboards-variables';

@import 'bps-billboard';
@import 'vh-billboard';
@import 'impress-billboard';

.billboard-view {
  display: none;
}

.billboard {
  @include display(flex);
  @include align-items(center);
  padding-top: $billboard-padding-top;
  padding-bottom: $billboard-padding-top;
  width: 100%;

  > section {
    @include container;
    width: 100%;
  }
}

.billboard-msg {
  text-transform: uppercase;
  line-height: 1;
  color: $primary-color;
  font-size: $billboard-msg-font-size;
  font-weight: $font-weight-ultra-bold;

  @include media($large-up) {
    font-size: $billboard-msg-font-size-large;
  }

  .btn {
    font-size: .25em;
  }
}

.billboard-subhead {
  margin-bottom: rem(5);
  line-height: 1.2;
  letter-spacing: $expanded-letter-spacing-small;
  font-size: .35em;
  font-weight: inherit;

  @include media($medium-up) {
    font-size: .2em;
  }
}

.billboard-tag {
  font-size: inherit;
  font-weight: inherit;
}
