@import '../footer/footer-variables';
@import '../header/header-variables';
@import 'billboards-variables';

@import 'bps-billboard';

.billboard {
  display: table;
  padding-top: $billboard-padding-top-default;
  padding-bottom: $billboard-padding-top-default;
  width: 100%;
  height: calc(100vh - #{$site-header-height-default} - #{$site-footer-height-default});

  @include media($small-up) {
    height: calc(100vh - #{$site-header-height-default} - #{$site-footer-height-small});
  }

  @include media($medium-up) {
    padding-top: $billboard-padding-top;
    height: calc(100vh - #{$site-header-height-medium} - #{$site-footer-height-medium});
  }

  > section {
    @include container;
    display: table-cell;
    vertical-align: middle;
  }
}

.billboard-msg {
  text-transform: uppercase;
  line-height: 1;
  color: $primary-color;
  font-size: 12vw;
  font-weight: $font-weight-ultra-bold;

  @include media($medium-up) {
    padding-left: rem(60);
  }

  @include media($large-up) {
    font-size: rem(96);
  }
}
