$black: #000;
$white: #fff;
$off-white: #fafaef;

$gray-dark: #3f4040;
$gray: #595a5a;
$gray-light: #727374;

$bps-green: #839457;
$bps-green-light: #9fab74;
$bps-green-dark: #66733b;

$olive: #76854f;
$olive-dark: #586438;
$olive-black: #313721;

$primary-color: $bps-green;
