<footer class="site-footer">
  <div class="container">
    <section>
      <a class="icon-link" href="{{site.twitter}}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="#twitter"></use></svg></a>
      <a class="icon-link" href="{{site.linkedin}}" target="_blank"><svg class="icon icon-linkedin"><use xlink:href="#linkedin"></use></svg></a>
      <a class="icon-link" href="{{site.github}}" target="_blank"><svg class="icon icon-github"><use xlink:href="#github"></use></svg></a>
    </section>
    <section class="copyright">
      &copy;2012-2016 Backup Parachute Software LLC <div class="site-footer-contact">Contact Us {{site.phone}}</div>
    </section>
  </div>
</footer>
