<footer class="site-footer">
  <div class="container">
    <section>
      <a class="icon-link" href="https://twitter.com/backupparachute" target="_blank"><svg class="icon icon-twitter"><use xlink:href="#twitter"></use></svg></a>
      <a class="icon-link" href="https://www.linkedin.com/company/backup-parachute-software" target="_blank"><svg class="icon icon-linkedin"><use xlink:href="#linkedin"></use></svg></a>
      <a class="icon-link" href="https://github.com/backupparachute/" target="_blank"><svg class="icon icon-github"><use xlink:href="#github"></use></svg></a>
    </section>
    <section class="copyright">
      &copy;2012-2015 Backup Parachute Software LLC <div class="site-footer-contact">Contact Us 888-865-2012</div>
    </section>
  </div>
</footer>
