$menu-expand-media-query: $large-up;

.site-nav {
  display: none;

  @include media($menu-expand-media-query) {
    display: block;

    .site-logo {
      display: none;
    }
  }

  a {
    text-transform: uppercase;
    text-decoration: none;
    line-height: $site-logo-height-default;
    letter-spacing: $expanded-letter-spacing;
    color: $bps-green;
    font-size: $font-size-large;
    font-weight: $font-weight-medium;

    @include media($medium-up) {
      line-height: $site-logo-height;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $bps-green-light;
    }

    &:active {
      color: $bps-green-dark;
    }

    + a {
      margin-left: $gutter;
    }
  }

  &.nav-is-open {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: $white;
    padding-top: $gutter;
    height: 100%;
    text-align: center;

    .site-logo {
      margin-bottom: $gutter;
    }

    a {
      display: block;
      margin-left: 0;
      font-size: $font-size-extra-large;
    }
  }
}

.nav-menu-btn {
  margin-top: rem(10);

  @include media($menu-expand-media-query) {
    display: none;
  }
}

.nav-menu-close-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid $bps-green;
  padding: $gutter 0;
  width: 100%;

  @include media($menu-expand-media-query) {
    display: none;
  }
}
