nav {

  a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: $expanded-letter-spacing;
    color: $bps-green;
    font-size: $font-size-large;
    font-weight: $font-weight-medium;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $bps-green-light;
    }

    &:active {
      color: $bps-green-dark;
    }
  }
}
