$article-width: rem(1100);
$article-border-color: rgba($primary-color, .3);

.article-list {
  @include container($article-width);
  list-style-type: none;
}

.article,
.article-preview {
  @include media($large-up) {
    @include display(flex);

    header {
      @include span-columns(5);
    }

    section {
      @include flex(1);
      padding-left: $gutter;

      p {
        margin-top: 0;
      }
    }
  }
}

.article-preview {
  margin-bottom: $gutter * 2;
  border-bottom: 1px solid $article-border-color;
  padding-bottom: $gutter * 2;

  .btn {
    display: inline-block;
  }

  .article-title {
    margin-bottom: $gutter / 10;
    font-size: $font-size-extra-large;

    a {
      text-decoration: none;
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}

.article-title {
  color: $bps-green;
}

.article-date {
  padding-bottom: $gutter / 8;
  color: $bps-green-light;
  font-size: $font-size-large;
}

.article-blip {
  margin-bottom: $gutter / 2;
  font-size: $font-size-large;

  @include media($large-up) {
    p {
      margin-top: 0;
    }
  }
}

.article {
  margin: 0 auto $gutter * 3;
  padding: 0 $gutter;
  max-width: $article-width;
  line-height: $line-height-large;
  font-size: $font-size-large;

  .article-title {
    line-height: $default-line-height;
    font-size: $font-size-extra-extra-large;
  }
}

.article-nav {
  display: block;
  margin: 0 auto $gutter * 3;
  border-top: 1px solid $article-border-color;
  padding-top: $gutter * 2;
  max-width: $article-width / 1.5;
  text-align: center;

  .btn {
    display: inline-block;
    min-width: rem(140);

    + .btn {
      margin-left: $gutter;
    }
  }
}
