@import 'components/footer/footer-variables';

.l-main {
  margin: 0 auto;
  padding: 0 $column-gutter / 2;
  width: 100%;
  max-width: $row-width;
}

.l-fullview {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
}

.l-fullview-main {
  @include display(flex);
  @include align-items(center);
  @include flex(1 auto);
}
