.product-link {
  display: block;
  padding: $gutter $gutter $gutter * 2;
  text-align: center;
  text-decoration: none;
  font-weight: $font-weight-medium;

  @include media($medium-up) {
    padding-bottom: rem(150);
  }

  @include media($large-up) {
    padding-bottom: rem(125);
  }

  &:hover,
  &:focus {
    background-color: $off-white;
  }
}

.product-teaser {
  margin: 0 auto;
  color: $gray-light;

  @include media($medium-up) {
    max-width: rem(400);
    height: 0;
  }
}
