html.flexboxtweener,
.flexboxtweener > body {
  height: 100%;
}

html.no-scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  body {
    width: 100%;
    height: 100%;
    min-height: 0;
    overflow: hidden;
  }
}

body {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
}

main {
  @include flex(1 0 auto);
  padding-top: $gutter * 2;
}

.container {
  @include container;
}
