@import 'header-variables';

.site-header {
  padding-top: $site-header-padding-top;
}

.site-logo {
  width: $site-logo-width * .75;
  max-width: 100%;
  height: $site-logo-height * .75;

  svg {
    width: 100%;
    height: 100%;
    fill: $primary-color;
  }

  @media #{$medium-up}{
    width: $site-logo-width;
    height: $site-logo-height;
  }

}
