@import 'header-variables';

.site-header {
  @include container;
  padding-top: $site-header-padding-top;
}

.site-logo {
  width: $site-logo-width-default;
  max-width: 100%;
  height: $site-logo-height-default;

  @include media($medium-up) {
    width: $site-logo-width;
    height: $site-logo-height;
  }

  svg {
    width: 100%;
    height: 100%;
    fill: $primary-color;
  }
}
